body {
    font: normal 12pt Trebuchet MS , sans-serif;
}

#title {
    background: rgb(60, 60, 210);
    color: white;
    text-align: center;
    border-radius: 20px;
    height: 50px;
    line-height: 50px;
}

#redacao {
    border: 2px solid rgb(60, 60, 210);
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    margin: 20px;
}

#notaRedacao {
    border-radius: 20px;
    margin: 5px;
}

#pesoRedacao {
    border-radius: 20px;
}

#linguagens {
    border: 2px solid rgb(60, 60, 210);
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    margin: 20px;
}

#notaLinguagens {
    border-radius: 20px;
    margin: 5px;
}

#pesoLinguagens {
    border-radius: 20px;
}

#matematica {
    border: 2px solid rgb(60, 60, 210);
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    margin: 20px;
}

#notaMatematica {
    border-radius: 20px;
    margin: 5px;
}

#pesoMatematica {
    border-radius: 20px;
}

#natureza {
    border: 2px solid rgb(60, 60, 210);
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    margin: 20px;
}

#notaNatureza {
    border-radius: 20px;
    margin: 5px;
}

#pesoNatureza {
    border-radius: 20px;
}

#humanas {
    border: 2px solid rgb(60, 60, 210);
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    margin: 20px;
}

#notaHumanas {
    border-radius: 20px;
    margin: 5px;
}

#pesoHumanas {
    border-radius: 20px;
}

#resultado {
    font: normal 20pt Trebuchet MS , sans-serif;
    text-align: center;
}

#btnResultado {
    background: rgb(41, 234, 41);
    font-family: Trebuchet MS , sans-serif;
    color: white;
    border-radius: 20px;
    height: 40px;
    width: 100px;
    margin: 20px;
}

#footer {
    background: rgb(60, 60, 210);
    color: white;
    border-radius: 20px;
    text-align: center;
    height: 40px;
}

#linkProjeto {
    color: white;
}

@media screen and (max-width: 600px) {
    #title {
        font: normal 8pt Trebuchet MS , sans-serif;
        line-height: 50px;
    }
}
